// =============
// MEDIA QUERIES
// =============

// Less than the Grid Float Breakpoint
@max-breakpoint: ~"(max-width: @{grid-float-breakpoint-max})";
// Greater than the Grid Float Breakpoint
@min-breakpoint: ~"(min-width: @{grid-float-breakpoint})";

// Only Extra-small
@only-xs: ~"(max-width: @{screen-xs-max})";

// Small and less
@max-sm: ~"(max-width: @{screen-sm-max})";
// Only Small
@only-sm: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
// Small and greater
@min-sm: ~"(min-width: @{screen-sm-min})";

// Medium and less
@max-md: ~"(max-width: @{screen-md-max})";
// Only Medium
@only-md: ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
// Medium and greater
@min-md: ~"(min-width: @{screen-md-min})";

// Only Large
@only-lg: ~"(min-width: @{screen-lg-min})";



// =============
// COLORS
// =============

@lightblue: #5889d2;
@blue: #5078b3;
@darkblue: #1f3078;

@lightgreen: #94ce8c;
@green: #A1C323;
@darkgreen: #63a51c;
@darkergreen: #62531c;

@lighterbrown: #ab952e;
@lightbrown: #aa8e2e;
@brown: #aa622e;
@darkbrown: #604612;

@whitest: #fff;
@white: #f4f5fc;
@dirtwhite: #dac8b7;


@black: #222222;
@grey: #353535;

@font-family: Helvetica, Arial, sans-serif;
@bold: 800;
@normal: 400;

* {
	box-sizing: border-box;
}

body, html {
	background-color: @white;
}
body {
	font-family: @font-family;
}

@import "components/bootstrap";
@import "parts/map";
@import "parts/ui";
