#map {
	overflow: scroll;

	tr {
		display: block;

		td.cell {
			border: 1px solid;
			display: block;
			float: left;
			height: 10px;
			width: 10px;

			&.t {
				&-1 {
					background-color: @blue;
					border-top-color: @blue;
				}
				&-2 {
					background-color: @green;
					border-top-color: @green;
				}
				&-3 {
					background-color: @brown;
					border-top-color: @brown;
				}
				&-4 {
					background-color: @white;
					border-top-color: @white;
				}
			}
			&.r {
				&-1 {
					background-color: @blue;
					border-right-color: @blue;
				}
				&-2 {
					background-color: @green;
					border-right-color: @green;
				}
				&-3 {
					background-color: @brown;
					border-right-color: @brown;
				}
				&-4 {
					background-color: @white;
					border-right-color: @white;
				}
			}
			&.b {
				&-1 {
					background-color: @blue;
					border-bottom-color: @blue;
				}
				&-2 {
					background-color: @green;
					border-bottom-color: @green;
				}
				&-3 {
					background-color: @brown;
					border-bottom-color: @brown;
				}
				&-4 {
					background-color: @white;
					border-bottom-color: @white;
				}
			}
			&.l {
				&-1 {
					background-color: @blue;
					border-left-color: @blue;
				}
				&-2 {
					background-color: @green;
					border-left-color: @green;
				}
				&-3 {
					background-color: @brown;
					border-left-color: @brown;
				}
				&-4 {
					background-color: @white;
					border-left-color: @white;
				}
			}
		}
	}
}
