.cell-mixin(@color){
	background: @color;
	// border-color: @color;
}
.cell-size-mixin(@cell-size){
	height: @cell-size * 80;
	width: @cell-size * 130;

	.cell {
		height: @cell-size;
		width: @cell-size;
	}
};

#map {
		&[data-zoom="0"] {
			.cell-size-mixin(4px);
		}
		&[data-zoom="1"] {
			.cell-size-mixin(8px);
		}
		&[data-zoom="2"] {
			.cell-size-mixin(12px);
		}
		&[data-zoom="3"] {
			.cell-size-mixin(16px);
		}
		&[data-zoom="4"] {
			.cell-size-mixin(20px);
		}

	.cell {
		// border: (@cell-size/4) solid;
		display: block;
		float: left;

		&.aboveSnowLevel {
			.cell-mixin(@white) !important;
		}
		&.belowSeaLevel {
			.cell-mixin(@sea-coast) !important;
		}

		&#continent {
			&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
				border-color: red;
			}
		}
		&.deciduous-flat {
			.cell-mixin(@deciduous-flat);
		}
		&.deciduous-hills {
			.cell-mixin(@deciduous-hills);
		}
		&.deciduous-mountainous {
			.cell-mixin(@deciduous-mountainous);
		}
		&.plains-flat {
			.cell-mixin(@plains-flat);
		}
		&.rocky-hills {
			.cell-mixin(@rocky-hills);
		}
		&.rocky2 {
			.cell-mixin(@rocky2);
		}
		&.rocky3 {
			.cell-mixin(@rocky3);
		}
		&.rocky4 {
			.cell-mixin(@rocky4);
		}
		&.rocky5 {
			.cell-mixin(@rocky5);
		}
		&.waterside-flat {
			.cell-mixin(@waterside-flat);
		}
		&.waterside-hilly {
			.cell-mixin(@waterside-hilly);
		}
		&.waterside-mountainous {
			.cell-mixin(@waterside-mountainous);
		}
		&.sea-coast {
			.cell-mixin(@sea-coast);
		}
		&.sea-reef {
			.cell-mixin(@sea-reef);
		}
		&.sea-deep {
			.cell-mixin(@sea-deep);
		}
	}
	#splashscreen {
		position: absolute;
		top: 0;
		z-index: 2;
	}
}
