aside {
	box-shadow: 0 0 8px rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 2;

	&#pregame {
		padding: @grid-gutter-width;
		right: 50vw;
		top: 25vh;
		transform: translateX(50%);

		h1 {
			margin: (@grid-gutter-width/2) (@grid-gutter-width) (@grid-gutter-width);
		}
	}
	&#ui-sidebar {
		background-color: #080808;
		color: #9d9d9d;
		bottom: 0;
		right: 0;
		top: 50px;
		margin-right: -20%;
		transition: margin-right .4s ease-in-out;

		&.open {
			margin-right: 0%;
		}

		.drawer-header {
			background: #222;

			h2 {
				margin: 0;
				padding: (@grid-gutter-width/2) (@grid-gutter-width);
			}
		}

		ul {
			padding: 0 (@grid-gutter-width/2);

			li {
				border-bottom: 1px solid #222;
				display: block;
				float: none;

				&:hover > a {
					background-color: #222;
					color: #777;
				};
			}
		}
	}
}

.badge {
	margin-left: .5em;
}

.dragscroll {
	cursor: url('../img/components/move-cursor.png'), crosshair;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.hidden {
	display: none;
}
