aside {
	box-shadow: 0 0 8px rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 2;

	&#pregame {
		right: 50vw;
		top: 25vh;
		transform: translateX(50%);
	}
	&#ui-sidebar {
		left: 80%;
		right: 0;
	}
}

.badge {
	margin-left: .5em;
}

.dragscroll {
	cursor: url('../img/components/move-cursor.png'), crosshair;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.hidden {
	display: none;
}
