aside {
	box-shadow: 0 0 8px rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 2;

	&#pregame {
		padding: @grid-gutter-width;
		right: 50vw;
		top: 25vh;
		transform: translateX(50%);

		h1 {
			margin: (@grid-gutter-width/2) (@grid-gutter-width) (@grid-gutter-width);
		}
	}
	&#ui-sidebar {
		background-color: #080808;
		border-radius: 0;
		color: #9d9d9d;
		bottom: 0;
		right: -300px;
		top: 0;
		margin-bottom: 0;
		position: fixed;
		transition: right .4s ease-in-out;
		width: 300px;
		z-index: 1030;

		&.open {
			right: 0;

			.drawer-background {
				background: rgba(0, 0, 0, .65);
				left: 0;
			}
		}

		.drawer-background {
			background: rgba(0, 0, 0, 0);
			content: '';
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 100vw;
			transition: background .4s ease-in-out, left .4s ease-in-out;
			z-index: -1;
		}

		.drawer-header {
			background: #222;

			h2 {
				margin: 0;
				padding: (@grid-gutter-width/2) (@grid-gutter-width);
			}
		}

		ul {
			float: right;
			padding: 0 (@grid-gutter-width/2);
			width: 100%;

			li {
				border-bottom: 1px solid #222;
				display: block;
				float: none;

				&:hover > a {
					background-color: #222;
					color: #777;
				};
			}
		}
	}
}

.badge {
	margin-left: .5em;
}

.dragscroll {
	cursor: url('../img/components/move-cursor.png'), crosshair;
}

header#ui-header {
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	border: 0;

	.navbar-nav > li > a {
		color: @white;
		font-size: 16px;
		padding-top: 10px;
		padding-bottom: 25px;
		text-decoration: none;

		// &:active,
		// &:focus,
		&:hover
		{
			background: linear-gradient(to bottom, #000000 0, rgba(0,0,0,0) 100%);
		}
	}
}

.hidden {
	display: none;
}

.wrap {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}